---
import { AstroSeo } from "@astrolib/seo";
import { Picture } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import mailingList from "./mail.gif";
import mailingListStatic from "./mail.jpg";
import spiritWellImage from "./spiritwell_logo.png";
import wishlistOnSteam from "./wishlist_on_steam.jpg";
---

<AstroSeo
  title="SPIRITWELL"
  description="Play as a runaway lost child who stumbles across a strange well and falls in... Below, a world full of strange spirits await."
  openGraph={{
    url: "https://spiritwell-website.pages.dev/",
    title: "SPIRITWELL",
    description:
      "Play as a runaway lost child who stumbles across a strange well and falls in... Below, a world full of strange spirits await.",
    images: [
      {
        url: mailingListStatic.src,
        width: 200,
        height: 200,
        alt: "Mailing list image",
        type: "image/webp",
      },
    ],
    site_name: "SPIRITWELL",
  }}
/>
<BaseLayout>
  <section class="flex flex-col items-center">
    <Picture src={spiritWellImage} alt="Spiritwell logo" />
    <a href="https://store.steampowered.com/app/1693890/Spiritwell/">
      <Picture src={wishlistOnSteam} alt="Wishlist on Steam" />
    </a>
    <p class="text-xl whitespace-pre-line text-center">
      And now… Stay updated on development!
    </p>
    <a href="/mailinglist" class="relative">
      <Picture
        src={mailingListStatic}
        alt="Join our mailing list"
        width="300"
        height="300"
      />
      <Picture
        src={mailingList}
        width="300"
        height="300"
        alt="Join our mailing list"
        class="top-0 left-0 absolute opacity-0 hover:opacity-100"
      />
    </a>
    <a href="/mailinglist">
      <p class="text-3xl whitespace-pre-line text-center">
        Join the SPIRITWELL
        <span class="text-neutral-500"> MAILING LIST</span>!
      </p>
    </a>
  </section>
</BaseLayout>
