---
import { Picture } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import spiritWellImage from "./spiritwell_logo.png";
import maillingList from "./testmail.gif";
import wishlistOnSteam from "./wishlist_on_steam.jpg";
---

<BaseLayout>
  <section class="flex flex-col items-center">
    <Picture src={spiritWellImage} alt="Spiritwell logo"/>
    <a href="https://store.steampowered.com/app/1693890/Spiritwell/">
      <Picture src={wishlistOnSteam} alt="Wishlist on Steam" />

    </a>
    <p class="text-xl whitespace-pre-line text-center">
      And now… 
      Stay updated on development!
    </p>
    <Picture src={maillingList} alt="Join our mailing list" />
    <p class="text-3xl whitespace-pre-line text-center">
      Join the
      SPIRITWELL
      <span class="text-neutral-500">    MAILING LIST</span>!
    </p>
  </section>
</BaseLayout>
