---
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import "../styles/globals.css";
// NEW! Join the SPIRITWELL mailing list for updates on development!
---

<html lang="en">
  <head>
    <SEO
      title="SPIRITWELL"
      description="Play as a runaway lost child who stumbles across a strange well and falls in... Below, a world full of strange spirits await.\nNEW! Join the SPIRITWELL mailing list for updates on development!"
      openGraph={{
        basic: {
          title:
            "lay as a runaway lost child who stumbles across a strange well and falls in... Below, a world full of strange spirits await.\nNEW! Join the SPIRITWELL mailing list for updates on development!",
          type: "website",
          image:
            "https://spiritwell-website.pages.dev/_astro/mail.8HobfbwV_11Kn5j.webp",
        },
      }}
      twitter={{
        creator: "@spiritwellgame",
        card: "summary_large_image",
        site: "@spiritwellgame",
        title: "SPIRITWELL",
        desciption:
          "Play as a runaway lost child who stumbles across a strange well and falls in... Below, a world full of strange spirits await.\nNEW! Join the SPIRITWELL mailing list for updates on development!",
        image:
          "https://spiritwell-website.pages.dev/_astro/mail.8HobfbwV_11Kn5j.webp",
        imageAlt:
          "Join the SPIRITWELL mailing list for updates on development!",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content:
              "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
          },
          { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SPIRITWELL</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Navbar />
    <slot />
  </body>
</html>

<head>
  <link rel="sitemap" href="/sitemap-index.xml" />
</head>
