---
import { AstroSeo } from "@astrolib/seo";
import Navbar from "../components/Navbar.astro";
import "../styles/globals.css";

// NEW! Join the SPIRITWELL mailing list for updates on development!
---

<AstroSeo
  title="SPIRITWELL"
  description="Play as a runaway lost child who stumbles across a strange well and falls in... Below, a world full of strange spirits await."
  twitter={{
    site: "@spiritwellgame",
    cardType: "summary_large_image",
    handle: "@spiritwellgame",
  }}
  canonical="https://spiritwell-website.pages.dev/"
/>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SPIRITWELL</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Navbar />
    <slot />
  </body>
</html>

<head>
  <link rel="sitemap" href="/sitemap-index.xml" />
</head>
