---
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import "../styles/globals.css";
// NEW! Join the SPIRITWELL mailing list for updates on development!
---

<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title="SPIRITWELL"
      description="Play as a runaway lost child who stumbles across a strange well and falls in... Below, a world full of strange spirits await.\nNEW! Join the SPIRITWELL mailing list for updates on development!"
      openGraph={{
        basic: {
          title: "SPIRITWELL",
          type: "website",
          image: "https://spiritwell.net/_astro/mail.8HobfbwV_11Kn5j.webp",
        },
      }}
      twitter={{
        creator: "@spiritwellgame",
        card: "summary_large_image",
        site: "@spiritwellgame",
        title: "SPIRITWELL",
        description:
          "Play as a runaway lost child who stumbles across a strange well and falls in... Below, a world full of strange spirits await.\nNEW! Join the SPIRITWELL mailing list for updates on development!",
        image: "https://spiritwell.net/_astro/mail.8HobfbwV_11Kn5j.webp",
        imageAlt:
          "Join the SPIRITWELL mailing list for updates on development!",
      }}
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/website/public/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>SPIRITWELL</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Navbar />
    <slot />
  </body>
</html>

<head>
  <link rel="sitemap" href="/sitemap-index.xml" />
</head>
