---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <p class="whitespace-pre-line text-center pt-4">
    <span class="text-neutral-500">To get in direct contact, email:</span>
    spiritwellgame@gmail.com
  </p>
</BaseLayout>
