---
const navBarPadding = "p-4";
---

<div class="text-xl">
  <nav class="hidden md:flex justify-center bg-gray-700 m-0 md:h-14 relative">
    <ul
      class="flex flex-col md:flex-row justify-center items-center gap-x-32 text-2xl w-1/2"
    >
      <li><a href="/">HOME</a></li>
      <li><a href="/game">GAME</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
  </nav>
  <nav id="navbar" class="flex flex-col md:hidden items-start bg-gray-700">
    <div class=`flex flex-row items-center ${navBarPadding}` id="logo">
      <div class="hamburger-menu">
        <svg
          width="24px"
          height="24px"
          viewBox="-0.5 0 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 12.32H22"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M2 18.32H22"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M2 6.32001H22"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>

      <p class="">MENU</p>
    </div>
    <ul class="nav-links">
      <li><a href="/">HOME</a></li>
      <li><a href="/game">GAME</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>
  </nav>
  <div
    class=`flex justify-end items-center top-0 right-0 absolute ${navBarPadding} gap-x-2`
  >
    <a
      href="https://twitter.com/spiritwellgame"
      target="_blank"
      rel="noopener"
      aria-label="Visit the Spiritwell twitter page"
    >
      <svg
        id="e567VZkRaOj1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 100 100"
        shape-rendering="geometricPrecision"
        text-rendering="geometricPrecision"
        project-id="e5ec5c4987ab4097adc412815e7a6c9c"
        export-id="0312cbbaff304fb99dc5f3f501aad1ae"
        class="h-6"
        ><image
          width="100"
          height="100"
          xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAABZklEQVR4nO3XMW7DQBAEQf7/vcxlJw6ciQDJmb2roGPNbQkyfHyO41BP8QECUl18gIBUFx8gINXFBwhIdfEBAlJdfICAVBcfICDVxQcISHXxAQJSXXyANgY5z/NzJSBA8kcCsgHI1cNfxXkSM348IEDWB2n6DX4K5K2/OUCAAImBvIkTQ/h92V93vB0IECAVIE9DpUDuflf8GECAAHnjQWmAu75cQIAAeRyk7TDTEIAAWbdKkH8Dv/jPdaWAlAWkrHqQ3QJSFpCyKkF2xgFSFpCy6kF2wHnyZkCAzG8syKo4QMoCUtZYkPThpiAAATK/JUBWwgFSFpCylgOZCJW4BxAgQKpB2qDS744fHggQII2Hb0IAAgRIHUj66M0IQIAAiYGkDz3l8ECGBKSsyIfuemwgAwNSVnyAgFQXHyAg1cUHCEh18QECUl18gIBUFx8gINXFBwhIdfEBAlJdfICAVBcfICDV/QBJcR4FMXLuBQAAAABJRU5ErkJggg=="
          preserveAspectRatio="xMidYMid meet"
        /></svg
      ></a
    >
    <a
      href="mailto:spiritwellgame@gmail.com"
      aria-label="Send Spiritwell an e-mail"
    >
      <svg
        id="eERF6ei4nfp1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 100 100"
        shape-rendering="geometricPrecision"
        text-rendering="geometricPrecision"
        project-id="134ec6982b8344c3b8019c03991aed9e"
        export-id="d490274b4fe2421bb1429467f09323a6"
        class="h-6"
        ><image
          width="100"
          height="100"
          xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAABMklEQVR4nO3RwW7CQBBEQf7/e30nNytCskSyNt1jqqS+wnre4wEAAAAAAAAAXGbbtqdtz3SHXfoQLUt32KUP0TIRiidI2QQpmyBlE6RsgpRNkLIJUjZByvbxIEfSh/jawx9JH0iQF+kDCfKm9OG+9vBH0gcV5EX6oLcPctbD04e+6v1//Z1lgpx7h2WCnHuHZakPbTu8IIJkHijIxQ+ccpjUdy0TRJB//e+U71p21sNTHzT9/bf7oOnvv90HTX//xz/orA+d8s5lUz50yjuXTfnQKe9clvrQKROkbIKUTZCyCVI2QcomSNkEKZsgZROkbIKUTZCyCVI2QcomSNkEKZsgZROkbIKUTZCyCVI2QcomSNkEKdvHg4hTFuG39CFalu6wSx+iZekOAAAAAAAAAHBnPxtkBqsHIRAOAAAAAElFTkSuQmCC"
          preserveAspectRatio="xMidYMid meet"
        /></svg
      ></a
    >
  </div>
</div>

<style>
  #navbar .nav-links {
    overflow: hidden;
    max-height: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    transition: max-height 0.3s ease-out;
  }

  #navbar .nav-links li {
    padding: 1rem 0;
  }

  #navbar .nav-links a {
    text-decoration: none;
    color: white;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    margin-right: 20px;
    color: white;
  }
  #navbar.open .nav-links {
    max-height: 12rem; /* Maximum height to expand to */
  }
</style>

<script>
  function toggleMenu() {
    var navbar = document.getElementById("navbar");
    if (navbar) {
      navbar.classList.toggle("open");
    }
  }

  document
    .querySelector(".hamburger-menu")
    ?.addEventListener("click", toggleMenu);
</script>
