---

---

<>
  <nav class="flex justify-center bg-gray-700 m-0 h-auto md:h-14 relative">
    <ul
      class="flex flex-col md:flex-row justify-center items-center gap-x-32 text-2xl w-1/2"
    >
      <li><a href="/">HOME</a></li>
      <li><a href="/game">GAME</a></li>
      <li><a href="/faq">FAQ</a></li>
    </ul>

    <div class="flex justify-end items-center inset-y-0 right-0 absolute">
      <button> Mail, Twitter </button>
    </div>
  </nav>
</>
